<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/guang3_dong1_dong1_guan1.js"></script>

</head>
<body>
    <div id="af6edc5669654318bc9a0c728e3a8cef" class="chart-container" style="width:600px; height:500px;"></div>
    <script>
        var chart_af6edc5669654318bc9a0c728e3a8cef = echarts.init(
            document.getElementById('af6edc5669654318bc9a0c728e3a8cef'), 'white', {renderer: 'canvas'});
        var option_af6edc5669654318bc9a0c728e3a8cef = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u4e1c\u839e",
            "data": [
                {
                    "name": "\u4e07\u6c5f\u533a",
                    "value": 25338
                },
                {
                    "name": "\u4e1c\u5751\u9547",
                    "value": 18271
                },
                {
                    "name": "\u4e1c\u57ce\u533a",
                    "value": 22305
                },
                {
                    "name": "\u4e2d\u5802\u9547",
                    "value": 14479
                },
                {
                    "name": "\u4f01\u77f3\u9547",
                    "value": 15497
                },
                {
                    "name": "\u51e4\u5c97\u9547",
                    "value": 24754
                },
                {
                    "name": "\u5357\u57ce\u533a",
                    "value": 30353
                },
                {
                    "name": "\u539a\u8857\u9547",
                    "value": 20264
                },
                {
                    "name": "\u5858\u53a6\u9547",
                    "value": 21730
                },
                {
                    "name": "\u5927\u5cad\u5c71\u9547",
                    "value": 24496
                },
                {
                    "name": "\u5927\u6717\u9547",
                    "value": 20781
                },
                {
                    "name": "\u5bee\u6b65\u9547",
                    "value": 21895
                },
                {
                    "name": "\u5e38\u5e73\u9547",
                    "value": 13599
                },
                {
                    "name": "\u671b\u725b\u58a9\u9547",
                    "value": 17434
                },
                {
                    "name": "\u677e\u5c71\u6e56\u9ad8\u65b0\u533a",
                    "value": 36731
                },
                {
                    "name": "\u6865\u5934\u9547",
                    "value": 14980
                },
                {
                    "name": "\u6a1f\u6728\u5934\u9547",
                    "value": 13299
                },
                {
                    "name": "\u6a2a\u6ca5\u9547",
                    "value": 14829
                },
                {
                    "name": "\u6c99\u7530\u9547",
                    "value": 18597
                },
                {
                    "name": "\u6d2a\u6885\u9547",
                    "value": 18670
                },
                {
                    "name": "\u6e05\u6eaa\u9547",
                    "value": 20714
                },
                {
                    "name": "\u77f3\u6392\u9547",
                    "value": 18207
                },
                {
                    "name": "\u77f3\u78a3\u9547",
                    "value": 20509
                },
                {
                    "name": "\u77f3\u9f99\u9547",
                    "value": 17424
                },
                {
                    "name": "\u8336\u5c71\u9547",
                    "value": 20852
                },
                {
                    "name": "\u839e\u57ce\u533a",
                    "value": 23441
                },
                {
                    "name": "\u864e\u95e8\u9547",
                    "value": 25532
                },
                {
                    "name": "\u8c22\u5c97\u9547",
                    "value": 13538
                },
                {
                    "name": "\u9053\u6ed8\u9547",
                    "value": 22980
                },
                {
                    "name": "\u957f\u5b89\u9547",
                    "value": 27801
                },
                {
                    "name": "\u9ad8\u57d7\u9547",
                    "value": 24746
                },
                {
                    "name": "\u9ebb\u6d8c\u9547",
                    "value": 18026
                },
                {
                    "name": "\u9ec4\u6c5f\u9547",
                    "value": 22827
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 12299,
        "max": 36731,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_af6edc5669654318bc9a0c728e3a8cef.setOption(option_af6edc5669654318bc9a0c728e3a8cef);
    </script>
</body>
</html>
