<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="c18ffe30fa454201847fe73c62ab269e" class="chart-container" style="width:410px; height:300px;"></div>
    <script>
        var chart_c18ffe30fa454201847fe73c62ab269e = echarts.init(
            document.getElementById('c18ffe30fa454201847fe73c62ab269e'), 'white', {renderer: 'canvas'});
        var option_c18ffe30fa454201847fe73c62ab269e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#fadb71",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5957\u6570",
            "legendHoverLink": true,
            "data": [
                52,
                31,
                26,
                23,
                22,
                21,
                18,
                18,
                17,
                17
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u65b0\u4e16\u7eaa\u9890\u9f99\u6e7e ",
                    24581.69
                ],
                [
                    "\u5609\u5b8f\u9526\u57ce ",
                    13899.94
                ],
                [
                    "\u5927\u8fd0\u57ce\u90a6 ",
                    25916.69
                ],
                [
                    "\u5bcc\u76c8\u516c\u9986 ",
                    14364.91
                ],
                [
                    "\u77f3\u6392\u4e16\u7eaa\u57ce\u56fd\u9645\u516c\u9986 ",
                    17627.68
                ],
                [
                    "\u6d77\u5fb7\u9a8f\u56ed ",
                    19326.05
                ],
                [
                    "\u5149\u5927\u5c71\u6e56\u57ce ",
                    21997.44
                ],
                [
                    "\u7396\u9882\u6c5f\u6e7e ",
                    20039.28
                ],
                [
                    "\u4e2d\u7199\u9999\u7f07\u516c\u9986 ",
                    18709.94
                ],
                [
                    "\u6052\u5927\u6c5f\u6e7e ",
                    15143.82
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "color": "green",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid",
                "color": "#7fff00"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5957\u6570",
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7"
            ],
            "selected": {
                "\u5957\u6570": true,
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "color": "green"
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -15,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u65b0\u4e16\u7eaa\u9890\u9f99\u6e7e ",
                "\u5609\u5b8f\u9526\u57ce ",
                "\u5927\u8fd0\u57ce\u90a6 ",
                "\u5bcc\u76c8\u516c\u9986 ",
                "\u77f3\u6392\u4e16\u7eaa\u57ce\u56fd\u9645\u516c\u9986 ",
                "\u6d77\u5fb7\u9a8f\u56ed ",
                "\u5149\u5927\u5c71\u6e56\u57ce ",
                "\u7396\u9882\u6c5f\u6e7e ",
                "\u4e2d\u7199\u9999\u7f07\u516c\u9986 ",
                "\u6052\u5927\u6c5f\u6e7e "
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 20,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5957"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 60,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 8000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5143"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_c18ffe30fa454201847fe73c62ab269e.setOption(option_c18ffe30fa454201847fe73c62ab269e);
    </script>
</body>
</html>
