<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/guang3_dong1_zhong1_shan1.js"></script>

</head>
<body>
    <div id="15132641e25b430782c9cf67d5e410c8" class="chart-container" style="width:600px; height:500px;"></div>
    <script>
        var chart_15132641e25b430782c9cf67d5e410c8 = echarts.init(
            document.getElementById('15132641e25b430782c9cf67d5e410c8'), 'white', {renderer: 'canvas'});
        var option_15132641e25b430782c9cf67d5e410c8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u4e2d\u5c71",
            "data": [
                {
                    "name": "\u4e09\u4e61\u9547",
                    "value": 8182
                },
                {
                    "name": "\u4e09\u89d2\u9547",
                    "value": 7671
                },
                {
                    "name": "\u4e1c\u51e4\u9547",
                    "value": 9291
                },
                {
                    "name": "\u4e1c\u533a",
                    "value": 13043
                },
                {
                    "name": "\u4e1c\u5347\u9547",
                    "value": 8152
                },
                {
                    "name": "\u4e94\u6842\u5c71",
                    "value": 12826
                },
                {
                    "name": "\u5357\u533a",
                    "value": 10666
                },
                {
                    "name": "\u5357\u5934\u9547",
                    "value": 8238
                },
                {
                    "name": "\u5357\u6717\u9547",
                    "value": 13197
                },
                {
                    "name": "\u53e4\u9547\u9547",
                    "value": 10804
                },
                {
                    "name": "\u5766\u6d32\u9547",
                    "value": 10940
                },
                {
                    "name": "\u5927\u6d8c\u9547",
                    "value": 9102
                },
                {
                    "name": "\u5c0f\u6984\u9547",
                    "value": 11158
                },
                {
                    "name": "\u677f\u8299\u9547",
                    "value": 7878
                },
                {
                    "name": "\u6a2a\u680f\u9547",
                    "value": 8023
                },
                {
                    "name": "\u6c11\u4f17\u9547",
                    "value": 8880
                },
                {
                    "name": "\u6c99\u6eaa\u9547",
                    "value": 8899
                },
                {
                    "name": "\u6e2f\u53e3\u9547",
                    "value": 10319
                },
                {
                    "name": "\u706b\u70ac",
                    "value": 10536
                },
                {
                    "name": "\u77f3\u5c90\u533a",
                    "value": 10206
                },
                {
                    "name": "\u795e\u6e7e\u9547",
                    "value": 7631
                },
                {
                    "name": "\u897f\u533a",
                    "value": 10180
                },
                {
                    "name": "\u961c\u6c99\u9547",
                    "value": 7854
                },
                {
                    "name": "\u9ec4\u5703\u9547",
                    "value": 8027
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 6631,
        "max": 13197,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_15132641e25b430782c9cf67d5e410c8.setOption(option_15132641e25b430782c9cf67d5e410c8);
    </script>
</body>
</html>
