<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/guang3_dong1_fo2_shan1.js"></script>

</head>
<body>
    <div id="e26c0baada0648c2aa75d16064be42a4" class="chart-container" style="width:600px; height:500px;"></div>
    <script>
        var chart_e26c0baada0648c2aa75d16064be42a4 = echarts.init(
            document.getElementById('e26c0baada0648c2aa75d16064be42a4'), 'white', {renderer: 'canvas'});
        var option_e26c0baada0648c2aa75d16064be42a4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u4f5b\u5c71",
            "data": [
                {
                    "name": "\u4e09\u6c34\u533a",
                    "value": 7803
                },
                {
                    "name": "\u5357\u6d77\u533a",
                    "value": 15626
                },
                {
                    "name": "\u756a\u79ba\u533a",
                    "value": 18241
                },
                {
                    "name": "\u767d\u4e91\u533a",
                    "value": 35197
                },
                {
                    "name": "\u7985\u57ce\u533a",
                    "value": 14954
                },
                {
                    "name": "\u987a\u5fb7\u533a",
                    "value": 12541
                },
                {
                    "name": "\u9ad8\u660e\u533a",
                    "value": 6211
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 5211,
        "max": 35197,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_e26c0baada0648c2aa75d16064be42a4.setOption(option_e26c0baada0648c2aa75d16064be42a4);
    </script>
</body>
</html>
