<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/guang3_dong1_guang3_zhou1.js"></script>

</head>
<body>
    <div id="95ce2c14c7824e22bedeed24953cbd9d" class="chart-container" style="width:600px; height:500px;"></div>
    <script>
        var chart_95ce2c14c7824e22bedeed24953cbd9d = echarts.init(
            document.getElementById('95ce2c14c7824e22bedeed24953cbd9d'), 'white', {renderer: 'canvas'});
        var option_95ce2c14c7824e22bedeed24953cbd9d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u5e7f\u5dde",
            "data": [
                {
                    "name": "\u4ece\u5316\u533a",
                    "value": 10504
                },
                {
                    "name": "\u5357\u6c99\u533a",
                    "value": 21948
                },
                {
                    "name": "\u5357\u6d77\u533a",
                    "value": 24247
                },
                {
                    "name": "\u589e\u57ce\u533a",
                    "value": 15304
                },
                {
                    "name": "\u5929\u6cb3\u533a",
                    "value": 67226
                },
                {
                    "name": "\u6d77\u73e0\u533a",
                    "value": 48111
                },
                {
                    "name": "\u756a\u79ba\u533a",
                    "value": 26738
                },
                {
                    "name": "\u767d\u4e91\u533a",
                    "value": 36928
                },
                {
                    "name": "\u82b1\u90fd\u533a",
                    "value": 13208
                },
                {
                    "name": "\u8354\u6e7e\u533a",
                    "value": 39609
                },
                {
                    "name": "\u8d8a\u79c0\u533a",
                    "value": 57669
                },
                {
                    "name": "\u9ec4\u57d4\u533a",
                    "value": 33661
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 9504,
        "max": 67226,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_95ce2c14c7824e22bedeed24953cbd9d.setOption(option_95ce2c14c7824e22bedeed24953cbd9d);
    </script>
</body>
</html>
