<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="defc5aba834b4f8fa4a40b9176bc9203" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_defc5aba834b4f8fa4a40b9176bc9203 = echarts.init(
            document.getElementById('defc5aba834b4f8fa4a40b9176bc9203'), 'white', {renderer: 'canvas'});
        var option_defc5aba834b4f8fa4a40b9176bc9203 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    122.19,
                    38.0
                ],
                [
                    170.56,
                    95.0
                ],
                [
                    85.3,
                    75.0
                ],
                [
                    98.57,
                    161.0
                ],
                [
                    122.99,
                    116.0
                ],
                [
                    80.74,
                    79.0
                ],
                [
                    89.4,
                    110.0
                ],
                [
                    104.38,
                    125.0
                ],
                [
                    124.71,
                    148.8
                ],
                [
                    90.0,
                    78.0
                ],
                [
                    153.0,
                    235.0
                ],
                [
                    166.47,
                    118.0
                ],
                [
                    113.37,
                    110.0
                ],
                [
                    123.89,
                    78.5
                ],
                [
                    116.01,
                    128.0
                ],
                [
                    103.89,
                    91.8
                ],
                [
                    140.05,
                    95.0
                ],
                [
                    129.44,
                    68.0
                ],
                [
                    142.0,
                    77.0
                ],
                [
                    116.33,
                    78.0
                ],
                [
                    113.42,
                    71.0
                ],
                [
                    120.08,
                    82.0
                ],
                [
                    91.17,
                    75.0
                ],
                [
                    126.0,
                    85.0
                ],
                [
                    141.74,
                    118.0
                ],
                [
                    116.0,
                    68.0
                ],
                [
                    95.68,
                    63.5
                ],
                [
                    117.61,
                    72.0
                ],
                [
                    86.95,
                    63.0
                ],
                [
                    87.22,
                    60.0
                ],
                [
                    80.75,
                    48.0
                ],
                [
                    98.66,
                    85.0
                ],
                [
                    128.98,
                    135.0
                ],
                [
                    108.8,
                    51.2
                ],
                [
                    144.0,
                    86.0
                ],
                [
                    144.0,
                    80.0
                ],
                [
                    133.56,
                    122.0
                ],
                [
                    143.37,
                    103.0
                ],
                [
                    110.8,
                    65.8
                ],
                [
                    96.0,
                    62.0
                ],
                [
                    94.45,
                    62.0
                ],
                [
                    146.59,
                    92.0
                ],
                [
                    122.05,
                    77.0
                ],
                [
                    120.2,
                    110.0
                ],
                [
                    98.0,
                    64.0
                ],
                [
                    109.41,
                    63.0
                ],
                [
                    145.0,
                    78.0
                ],
                [
                    116.7,
                    129.0
                ],
                [
                    121.25,
                    85.0
                ],
                [
                    114.0,
                    73.0
                ],
                [
                    74.0,
                    61.0
                ],
                [
                    116.69,
                    75.8
                ],
                [
                    103.43,
                    82.0
                ],
                [
                    98.33,
                    78.0
                ],
                [
                    112.0,
                    82.3
                ],
                [
                    128.79,
                    90.0
                ],
                [
                    115.84,
                    108.0
                ],
                [
                    138.25,
                    94.0
                ],
                [
                    89.27,
                    64.0
                ],
                [
                    84.83,
                    79.0
                ],
                [
                    55.0,
                    46.5
                ],
                [
                    461.92,
                    328.0
                ],
                [
                    381.2,
                    245.0
                ],
                [
                    98.87,
                    109.0
                ],
                [
                    170.56,
                    95.0
                ],
                [
                    146.5,
                    125.0
                ],
                [
                    96.0,
                    79.0
                ],
                [
                    147.11,
                    98.9
                ],
                [
                    93.81,
                    132.0
                ],
                [
                    216.95,
                    130.0
                ],
                [
                    112.24,
                    70.0
                ],
                [
                    84.4,
                    55.6
                ],
                [
                    73.17,
                    40.0
                ],
                [
                    73.3,
                    45.0
                ],
                [
                    106.4,
                    65.0
                ],
                [
                    60.0,
                    29.0
                ],
                [
                    73.15,
                    45.15
                ],
                [
                    126.0,
                    98.0
                ],
                [
                    104.82,
                    71.2
                ],
                [
                    83.98,
                    39.0
                ],
                [
                    129.43,
                    72.0
                ],
                [
                    137.0,
                    55.0
                ],
                [
                    78.23,
                    38.0
                ],
                [
                    122.19,
                    38.0
                ],
                [
                    63.19,
                    36.0
                ],
                [
                    75.53,
                    36.2
                ],
                [
                    97.0,
                    37.0
                ],
                [
                    34.8,
                    23.8
                ],
                [
                    98.06,
                    35.0
                ],
                [
                    175.8,
                    103.7
                ],
                [
                    92.89,
                    55.0
                ],
                [
                    69.36,
                    31.0
                ],
                [
                    95.16,
                    29.0
                ],
                [
                    153.0,
                    74.0
                ],
                [
                    91.0,
                    51.8
                ],
                [
                    142.78,
                    117.0
                ],
                [
                    73.15,
                    45.0
                ],
                [
                    56.0,
                    26.5
                ],
                [
                    66.65,
                    30.6
                ],
                [
                    69.73,
                    30.5
                ],
                [
                    115.92,
                    77.5
                ],
                [
                    95.74,
                    110.0
                ],
                [
                    95.4,
                    115.0
                ],
                [
                    108.58,
                    83.0
                ],
                [
                    103.4,
                    110.0
                ],
                [
                    80.14,
                    72.0
                ],
                [
                    86.7,
                    100.5
                ],
                [
                    109.33,
                    101.8
                ],
                [
                    119.06,
                    105.0
                ],
                [
                    100.5,
                    115.0
                ],
                [
                    105.42,
                    79.0
                ],
                [
                    102.92,
                    89.0
                ],
                [
                    81.35,
                    59.0
                ],
                [
                    91.27,
                    115.0
                ],
                [
                    105.61,
                    100.0
                ],
                [
                    95.42,
                    72.0
                ],
                [
                    108.14,
                    110.0
                ],
                [
                    130.56,
                    154.0
                ],
                [
                    104.64,
                    98.0
                ],
                [
                    106.39,
                    145.0
                ],
                [
                    124.84,
                    183.0
                ],
                [
                    84.98,
                    69.0
                ],
                [
                    88.09,
                    110.0
                ],
                [
                    87.97,
                    117.0
                ],
                [
                    91.69,
                    76.0
                ],
                [
                    113.61,
                    109.0
                ],
                [
                    98.84,
                    119.0
                ],
                [
                    130.4,
                    89.9
                ],
                [
                    88.57,
                    62.0
                ],
                [
                    161.17,
                    124.0
                ],
                [
                    244.11,
                    280.0
                ],
                [
                    115.27,
                    170.0
                ],
                [
                    125.28,
                    218.0
                ],
                [
                    98.57,
                    109.0
                ],
                [
                    89.64,
                    132.0
                ],
                [
                    89.21,
                    128.0
                ],
                [
                    80.85,
                    50.0
                ],
                [
                    94.42,
                    120.0
                ],
                [
                    108.5,
                    156.0
                ],
                [
                    125.28,
                    119.0
                ],
                [
                    110.04,
                    85.0
                ],
                [
                    93.85,
                    112.0
                ],
                [
                    97.37,
                    93.0
                ],
                [
                    139.34,
                    148.0
                ],
                [
                    120.33,
                    140.0
                ],
                [
                    88.15,
                    142.0
                ],
                [
                    125.76,
                    158.0
                ],
                [
                    92.36,
                    138.0
                ],
                [
                    230.7,
                    184.0
                ],
                [
                    87.62,
                    98.0
                ],
                [
                    135.95,
                    124.0
                ],
                [
                    124.61,
                    232.0
                ],
                [
                    122.0,
                    155.0
                ],
                [
                    94.86,
                    85.0
                ],
                [
                    123.1,
                    172.0
                ],
                [
                    123.74,
                    110.0
                ],
                [
                    74.35,
                    112.0
                ],
                [
                    45.69,
                    61.56
                ],
                [
                    72.71,
                    63.0
                ],
                [
                    56.15,
                    42.0
                ],
                [
                    121.42,
                    189.0
                ],
                [
                    85.06,
                    73.0
                ],
                [
                    106.95,
                    59.0
                ],
                [
                    111.41,
                    90.0
                ],
                [
                    123.05,
                    120.0
                ],
                [
                    92.0,
                    89.0
                ],
                [
                    123.41,
                    83.6
                ],
                [
                    110.58,
                    97.0
                ],
                [
                    98.85,
                    90.0
                ],
                [
                    88.41,
                    72.0
                ],
                [
                    90.45,
                    70.0
                ],
                [
                    88.63,
                    80.0
                ],
                [
                    120.02,
                    84.0
                ],
                [
                    79.67,
                    82.0
                ],
                [
                    88.41,
                    82.0
                ],
                [
                    98.32,
                    105.0
                ],
                [
                    105.0,
                    103.0
                ],
                [
                    124.72,
                    123.0
                ],
                [
                    119.38,
                    120.0
                ],
                [
                    100.86,
                    85.0
                ],
                [
                    97.1,
                    76.5
                ],
                [
                    106.96,
                    70.0
                ],
                [
                    94.12,
                    76.0
                ],
                [
                    108.0,
                    90.0
                ],
                [
                    67.41,
                    46.0
                ],
                [
                    91.96,
                    68.0
                ],
                [
                    106.0,
                    95.6
                ],
                [
                    102.5,
                    93.0
                ],
                [
                    125.6,
                    96.0
                ],
                [
                    41.76,
                    27.0
                ],
                [
                    74.7,
                    65.0
                ],
                [
                    165.0,
                    156.0
                ],
                [
                    93.16,
                    148.0
                ],
                [
                    63.61,
                    75.0
                ],
                [
                    140.31,
                    260.0
                ],
                [
                    115.63,
                    134.0
                ],
                [
                    106.0,
                    142.0
                ],
                [
                    88.2,
                    115.0
                ],
                [
                    130.67,
                    103.0
                ],
                [
                    89.01,
                    126.0
                ],
                [
                    146.0,
                    155.0
                ],
                [
                    89.69,
                    138.0
                ],
                [
                    93.32,
                    125.0
                ],
                [
                    115.0,
                    142.0
                ],
                [
                    113.43,
                    173.0
                ],
                [
                    137.86,
                    133.0
                ],
                [
                    88.17,
                    127.0
                ],
                [
                    113.0,
                    120.0
                ],
                [
                    136.0,
                    125.0
                ],
                [
                    89.77,
                    75.5
                ],
                [
                    160.0,
                    137.0
                ],
                [
                    155.89,
                    164.0
                ],
                [
                    113.87,
                    132.0
                ],
                [
                    92.98,
                    100.0
                ],
                [
                    93.12,
                    130.0
                ],
                [
                    88.35,
                    115.0
                ],
                [
                    99.3,
                    65.0
                ],
                [
                    98.87,
                    117.0
                ],
                [
                    84.96,
                    55.0
                ],
                [
                    158.0,
                    260.0
                ],
                [
                    93.07,
                    129.0
                ],
                [
                    86.9,
                    45.8
                ],
                [
                    78.0,
                    52.6
                ],
                [
                    78.0,
                    38.0
                ],
                [
                    69.0,
                    32.0
                ],
                [
                    56.0,
                    26.0
                ],
                [
                    69.0,
                    30.0
                ],
                [
                    56.0,
                    24.8
                ],
                [
                    56.64,
                    35.0
                ],
                [
                    87.84,
                    49.0
                ],
                [
                    86.18,
                    49.5
                ],
                [
                    146.0,
                    115.0
                ],
                [
                    86.33,
                    58.0
                ],
                [
                    79.29,
                    30.0
                ],
                [
                    123.17,
                    100.0
                ],
                [
                    126.85,
                    81.0
                ],
                [
                    79.39,
                    47.5
                ],
                [
                    95.7,
                    63.8
                ],
                [
                    283.0,
                    320.0
                ],
                [
                    143.0,
                    79.8
                ],
                [
                    176.21,
                    145.0
                ],
                [
                    89.14,
                    55.0
                ],
                [
                    113.62,
                    108.0
                ],
                [
                    90.22,
                    66.2
                ],
                [
                    130.27,
                    88.0
                ],
                [
                    146.0,
                    87.3
                ],
                [
                    79.41,
                    44.8
                ],
                [
                    94.79,
                    102.8
                ],
                [
                    153.0,
                    96.8
                ],
                [
                    153.0,
                    120.0
                ],
                [
                    195.49,
                    150.0
                ],
                [
                    85.24,
                    85.0
                ],
                [
                    112.63,
                    102.0
                ],
                [
                    104.31,
                    113.0
                ],
                [
                    104.51,
                    98.0
                ],
                [
                    91.05,
                    110.0
                ],
                [
                    120.11,
                    173.0
                ],
                [
                    75.24,
                    65.0
                ],
                [
                    127.96,
                    79.5
                ],
                [
                    102.07,
                    112.0
                ],
                [
                    29.47,
                    15.0
                ],
                [
                    37.01,
                    44.0
                ],
                [
                    60.73,
                    60.0
                ],
                [
                    72.69,
                    61.0
                ],
                [
                    42.09,
                    43.5
                ],
                [
                    68.85,
                    50.0
                ],
                [
                    79.77,
                    89.9
                ],
                [
                    33.06,
                    25.0
                ],
                [
                    78.56,
                    72.0
                ],
                [
                    111.3,
                    175.0
                ],
                [
                    110.15,
                    110.0
                ],
                [
                    78.82,
                    79.9
                ],
                [
                    85.38,
                    140.0
                ],
                [
                    108.38,
                    168.0
                ],
                [
                    108.17,
                    120.0
                ],
                [
                    169.07,
                    140.0
                ],
                [
                    119.79,
                    175.0
                ],
                [
                    296.94,
                    255.0
                ],
                [
                    73.35,
                    78.0
                ],
                [
                    129.92,
                    134.0
                ],
                [
                    115.89,
                    103.0
                ],
                [
                    89.13,
                    151.0
                ],
                [
                    126.0,
                    105.0
                ],
                [
                    96.84,
                    129.8
                ],
                [
                    115.63,
                    130.0
                ],
                [
                    73.64,
                    86.0
                ],
                [
                    110.91,
                    175.0
                ],
                [
                    122.75,
                    107.0
                ],
                [
                    113.07,
                    138.0
                ],
                [
                    83.97,
                    74.5
                ],
                [
                    98.93,
                    138.0
                ],
                [
                    89.19,
                    102.5
                ],
                [
                    90.15,
                    48.0
                ],
                [
                    83.19,
                    86.0
                ],
                [
                    120.76,
                    128.0
                ],
                [
                    99.33,
                    115.0
                ],
                [
                    103.66,
                    98.0
                ],
                [
                    164.02,
                    228.0
                ],
                [
                    79.86,
                    97.0
                ],
                [
                    80.06,
                    105.0
                ],
                [
                    92.83,
                    92.0
                ],
                [
                    92.58,
                    98.0
                ],
                [
                    121.22,
                    126.0
                ],
                [
                    108.28,
                    177.0
                ],
                [
                    118.32,
                    113.0
                ],
                [
                    98.07,
                    88.0
                ],
                [
                    91.08,
                    128.0
                ],
                [
                    84.96,
                    79.0
                ],
                [
                    115.64,
                    125.0
                ],
                [
                    102.09,
                    89.0
                ],
                [
                    128.74,
                    148.0
                ],
                [
                    88.0,
                    82.0
                ],
                [
                    42.39,
                    32.0
                ],
                [
                    109.9,
                    99.0
                ],
                [
                    110.79,
                    80.0
                ],
                [
                    95.26,
                    90.0
                ],
                [
                    122.0,
                    115.0
                ],
                [
                    105.93,
                    105.0
                ],
                [
                    109.44,
                    98.0
                ],
                [
                    88.0,
                    77.0
                ],
                [
                    114.0,
                    108.0
                ],
                [
                    94.0,
                    80.0
                ],
                [
                    106.15,
                    97.0
                ],
                [
                    113.77,
                    85.0
                ],
                [
                    43.0,
                    28.0
                ],
                [
                    82.0,
                    73.0
                ],
                [
                    98.19,
                    80.0
                ],
                [
                    115.0,
                    114.0
                ],
                [
                    95.0,
                    83.0
                ],
                [
                    95.3,
                    69.0
                ],
                [
                    86.57,
                    61.0
                ],
                [
                    72.0,
                    57.0
                ],
                [
                    92.28,
                    82.0
                ],
                [
                    119.6,
                    125.0
                ],
                [
                    110.0,
                    70.0
                ],
                [
                    80.0,
                    59.0
                ],
                [
                    62.43,
                    44.0
                ],
                [
                    67.43,
                    63.0
                ],
                [
                    165.0,
                    178.0
                ],
                [
                    208.0,
                    145.0
                ],
                [
                    112.91,
                    95.0
                ],
                [
                    120.94,
                    202.0
                ],
                [
                    80.94,
                    93.0
                ],
                [
                    78.79,
                    122.0
                ],
                [
                    132.0,
                    176.0
                ],
                [
                    88.35,
                    135.0
                ],
                [
                    118.54,
                    175.0
                ],
                [
                    83.7,
                    32.6
                ],
                [
                    96.0,
                    85.0
                ],
                [
                    83.34,
                    63.0
                ],
                [
                    94.65,
                    68.0
                ],
                [
                    111.0,
                    90.0
                ],
                [
                    108.0,
                    103.0
                ],
                [
                    116.87,
                    160.0
                ],
                [
                    93.0,
                    130.0
                ],
                [
                    121.68,
                    121.0
                ],
                [
                    135.69,
                    92.0
                ],
                [
                    80.09,
                    86.0
                ],
                [
                    53.0,
                    79.0
                ],
                [
                    79.7,
                    102.0
                ],
                [
                    79.39,
                    85.0
                ],
                [
                    117.82,
                    127.0
                ],
                [
                    123.48,
                    116.0
                ],
                [
                    153.55,
                    276.0
                ],
                [
                    109.0,
                    52.0
                ],
                [
                    80.5,
                    91.0
                ],
                [
                    53.48,
                    40.0
                ],
                [
                    93.08,
                    83.0
                ],
                [
                    138.0,
                    143.0
                ],
                [
                    130.1,
                    100.0
                ],
                [
                    130.66,
                    155.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                122.19,
                170.56,
                85.3,
                98.57,
                122.99,
                80.74,
                89.4,
                104.38,
                124.71,
                90.0,
                153.0,
                166.47,
                113.37,
                123.89,
                116.01,
                103.89,
                140.05,
                129.44,
                142.0,
                116.33,
                113.42,
                120.08,
                91.17,
                126.0,
                141.74,
                116.0,
                95.68,
                117.61,
                86.95,
                87.22,
                80.75,
                98.66,
                128.98,
                108.8,
                144.0,
                144.0,
                133.56,
                143.37,
                110.8,
                96.0,
                94.45,
                146.59,
                122.05,
                120.2,
                98.0,
                109.41,
                145.0,
                116.7,
                121.25,
                114.0,
                74.0,
                116.69,
                103.43,
                98.33,
                112.0,
                128.79,
                115.84,
                138.25,
                89.27,
                84.83,
                55.0,
                461.92,
                381.2,
                98.87,
                170.56,
                146.5,
                96.0,
                147.11,
                93.81,
                216.95,
                112.24,
                84.4,
                73.17,
                73.3,
                106.4,
                60.0,
                73.15,
                126.0,
                104.82,
                83.98,
                129.43,
                137.0,
                78.23,
                122.19,
                63.19,
                75.53,
                97.0,
                34.8,
                98.06,
                175.8,
                92.89,
                69.36,
                95.16,
                153.0,
                91.0,
                142.78,
                73.15,
                56.0,
                66.65,
                69.73,
                115.92,
                95.74,
                95.4,
                108.58,
                103.4,
                80.14,
                86.7,
                109.33,
                119.06,
                100.5,
                105.42,
                102.92,
                81.35,
                91.27,
                105.61,
                95.42,
                108.14,
                130.56,
                104.64,
                106.39,
                124.84,
                84.98,
                88.09,
                87.97,
                91.69,
                113.61,
                98.84,
                130.4,
                88.57,
                161.17,
                244.11,
                115.27,
                125.28,
                98.57,
                89.64,
                89.21,
                80.85,
                94.42,
                108.5,
                125.28,
                110.04,
                93.85,
                97.37,
                139.34,
                120.33,
                88.15,
                125.76,
                92.36,
                230.7,
                87.62,
                135.95,
                124.61,
                122.0,
                94.86,
                123.1,
                123.74,
                74.35,
                45.69,
                72.71,
                56.15,
                121.42,
                85.06,
                106.95,
                111.41,
                123.05,
                92.0,
                123.41,
                110.58,
                98.85,
                88.41,
                90.45,
                88.63,
                120.02,
                79.67,
                88.41,
                98.32,
                105.0,
                124.72,
                119.38,
                100.86,
                97.1,
                106.96,
                94.12,
                108.0,
                67.41,
                91.96,
                106.0,
                102.5,
                125.6,
                41.76,
                74.7,
                165.0,
                93.16,
                63.61,
                140.31,
                115.63,
                106.0,
                88.2,
                130.67,
                89.01,
                146.0,
                89.69,
                93.32,
                115.0,
                113.43,
                137.86,
                88.17,
                113.0,
                136.0,
                89.77,
                160.0,
                155.89,
                113.87,
                92.98,
                93.12,
                88.35,
                99.3,
                98.87,
                84.96,
                158.0,
                93.07,
                86.9,
                78.0,
                78.0,
                69.0,
                56.0,
                69.0,
                56.0,
                56.64,
                87.84,
                86.18,
                146.0,
                86.33,
                79.29,
                123.17,
                126.85,
                79.39,
                95.7,
                283.0,
                143.0,
                176.21,
                89.14,
                113.62,
                90.22,
                130.27,
                146.0,
                79.41,
                94.79,
                153.0,
                153.0,
                195.49,
                85.24,
                112.63,
                104.31,
                104.51,
                91.05,
                120.11,
                75.24,
                127.96,
                102.07,
                29.47,
                37.01,
                60.73,
                72.69,
                42.09,
                68.85,
                79.77,
                33.06,
                78.56,
                111.3,
                110.15,
                78.82,
                85.38,
                108.38,
                108.17,
                169.07,
                119.79,
                296.94,
                73.35,
                129.92,
                115.89,
                89.13,
                126.0,
                96.84,
                115.63,
                73.64,
                110.91,
                122.75,
                113.07,
                83.97,
                98.93,
                89.19,
                90.15,
                83.19,
                120.76,
                99.33,
                103.66,
                164.02,
                79.86,
                80.06,
                92.83,
                92.58,
                121.22,
                108.28,
                118.32,
                98.07,
                91.08,
                84.96,
                115.64,
                102.09,
                128.74,
                88.0,
                42.39,
                109.9,
                110.79,
                95.26,
                122.0,
                105.93,
                109.44,
                88.0,
                114.0,
                94.0,
                106.15,
                113.77,
                43.0,
                82.0,
                98.19,
                115.0,
                95.0,
                95.3,
                86.57,
                72.0,
                92.28,
                119.6,
                110.0,
                80.0,
                62.43,
                67.43,
                165.0,
                208.0,
                112.91,
                120.94,
                80.94,
                78.79,
                132.0,
                88.35,
                118.54,
                83.7,
                96.0,
                83.34,
                94.65,
                111.0,
                108.0,
                116.87,
                93.0,
                121.68,
                135.69,
                80.09,
                53.0,
                79.7,
                79.39,
                117.82,
                123.48,
                153.55,
                109.0,
                80.5,
                53.48,
                93.08,
                138.0,
                130.1,
                130.66
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_defc5aba834b4f8fa4a40b9176bc9203.setOption(option_defc5aba834b4f8fa4a40b9176bc9203);
    </script>
</body>
</html>
