<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="45c4cd948af140d4870ad9c4a889f1d2" class="chart-container" style="width:410px; height:300px;"></div>
    <script>
        var chart_45c4cd948af140d4870ad9c4a889f1d2 = echarts.init(
            document.getElementById('45c4cd948af140d4870ad9c4a889f1d2'), 'white', {renderer: 'canvas'});
        var option_45c4cd948af140d4870ad9c4a889f1d2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#fadb71",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5957\u6570",
            "legendHoverLink": true,
            "data": [
                7,
                6,
                5,
                4,
                4,
                4,
                4,
                4,
                3,
                3
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u6c5f\u6d77\u78a7\u6842\u56ed ",
                    8654.57
                ],
                [
                    "\u5927\u6cfd\u78a7\u6842\u56ed\u5c71\u6e56\u6e7e ",
                    5044.33
                ],
                [
                    "\u6052\u5927\u6cc9\u90fd ",
                    5205.0
                ],
                [
                    "\u5341\u91cc\u65b9\u5706\u2015\u4e5d\u7ae0 ",
                    7016.0
                ],
                [
                    "\u78a7\u6842\u56ed-\u53e0\u5f69\u8f69 ",
                    5696.5
                ],
                [
                    "\u5357\u6e56\u58f9\u53f7 ",
                    9937.0
                ],
                [
                    "\u65b0\u4f1a\u78a7\u6842\u56ed\u00b7\u76db\u4e16\u540d\u95e8 ",
                    15159.75
                ],
                [
                    "\u78a7\u6842\u56ed\u516c\u56ed1\u53f7\u67cf\u4e3d\u6e7e ",
                    6066.75
                ],
                [
                    "\u7fe1\u7fe0\u534e\u5e9c(\u6c5f\u6d77\u533a) ",
                    8572.0
                ],
                [
                    "\u5188\u5dde\u5927\u9053\u4e2d ",
                    4318.67
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "color": "green",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid",
                "color": "#7fff00"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5957\u6570",
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7"
            ],
            "selected": {
                "\u5957\u6570": true,
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "color": "green"
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -15,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u6c5f\u6d77\u78a7\u6842\u56ed ",
                "\u5927\u6cfd\u78a7\u6842\u56ed\u5c71\u6e56\u6e7e ",
                "\u6052\u5927\u6cc9\u90fd ",
                "\u5341\u91cc\u65b9\u5706\u2015\u4e5d\u7ae0 ",
                "\u78a7\u6842\u56ed-\u53e0\u5f69\u8f69 ",
                "\u5357\u6e56\u58f9\u53f7 ",
                "\u65b0\u4f1a\u78a7\u6842\u56ed\u00b7\u76db\u4e16\u540d\u95e8 ",
                "\u78a7\u6842\u56ed\u516c\u56ed1\u53f7\u67cf\u4e3d\u6e7e ",
                "\u7fe1\u7fe0\u534e\u5e9c(\u6c5f\u6d77\u533a) ",
                "\u5188\u5dde\u5927\u9053\u4e2d "
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 20,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5957"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 60,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 8000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5143"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_45c4cd948af140d4870ad9c4a889f1d2.setOption(option_45c4cd948af140d4870ad9c4a889f1d2);
    </script>
</body>
</html>
