<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="53f3148c0a7649e88742eba06669b2ab" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_53f3148c0a7649e88742eba06669b2ab = echarts.init(
            document.getElementById('53f3148c0a7649e88742eba06669b2ab'), 'white', {renderer: 'canvas'});
        var option_53f3148c0a7649e88742eba06669b2ab = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    81.1,
                    35.5
                ],
                [
                    89.77,
                    69.8
                ],
                [
                    76.0,
                    42.0
                ],
                [
                    60.96,
                    36.8
                ],
                [
                    49.21,
                    24.0
                ],
                [
                    113.0,
                    58.5
                ],
                [
                    98.0,
                    48.0
                ],
                [
                    108.0,
                    76.0
                ],
                [
                    38.0,
                    18.0
                ],
                [
                    38.0,
                    17.0
                ],
                [
                    121.85,
                    100.0
                ],
                [
                    85.41,
                    51.0
                ],
                [
                    108.03,
                    18.0
                ],
                [
                    110.85,
                    42.0
                ],
                [
                    103.76,
                    62.8
                ],
                [
                    84.54,
                    22.0
                ],
                [
                    110.0,
                    23.0
                ],
                [
                    104.51,
                    50.5
                ],
                [
                    93.0,
                    48.0
                ],
                [
                    80.0,
                    19.0
                ],
                [
                    89.21,
                    70.0
                ],
                [
                    89.0,
                    18.5
                ],
                [
                    80.0,
                    38.2
                ],
                [
                    76.5,
                    47.0
                ],
                [
                    79.17,
                    38.8
                ],
                [
                    68.0,
                    32.0
                ],
                [
                    98.0,
                    67.0
                ],
                [
                    111.56,
                    63.0
                ],
                [
                    117.95,
                    39.0
                ],
                [
                    106.24,
                    68.0
                ],
                [
                    112.11,
                    67.0
                ],
                [
                    163.0,
                    52.0
                ],
                [
                    111.04,
                    79.9
                ],
                [
                    88.39,
                    15.5
                ],
                [
                    115.0,
                    26.0
                ],
                [
                    96.56,
                    55.0
                ],
                [
                    86.0,
                    63.8
                ],
                [
                    93.0,
                    56.0
                ],
                [
                    111.0,
                    35.0
                ],
                [
                    68.84,
                    14.2
                ],
                [
                    119.88,
                    104.6
                ],
                [
                    44.7,
                    20.0
                ],
                [
                    90.98,
                    88.0
                ],
                [
                    103.0,
                    85.0
                ],
                [
                    72.0,
                    33.8
                ],
                [
                    97.88,
                    79.8
                ],
                [
                    80.0,
                    55.4
                ],
                [
                    89.5,
                    95.0
                ],
                [
                    102.0,
                    80.0
                ],
                [
                    120.42,
                    92.0
                ],
                [
                    131.0,
                    75.0
                ],
                [
                    152.55,
                    87.0
                ],
                [
                    83.0,
                    41.5
                ],
                [
                    92.0,
                    68.0
                ],
                [
                    98.82,
                    40.0
                ],
                [
                    89.0,
                    54.0
                ],
                [
                    121.0,
                    88.0
                ],
                [
                    149.0,
                    75.0
                ],
                [
                    91.0,
                    88.0
                ],
                [
                    107.0,
                    122.8
                ],
                [
                    75.0,
                    43.8
                ],
                [
                    123.9,
                    87.8
                ],
                [
                    104.0,
                    49.0
                ],
                [
                    90.48,
                    47.0
                ],
                [
                    75.0,
                    33.8
                ],
                [
                    82.0,
                    39.8
                ],
                [
                    93.0,
                    33.0
                ],
                [
                    69.72,
                    38.0
                ],
                [
                    94.0,
                    37.0
                ],
                [
                    78.0,
                    46.8
                ],
                [
                    94.0,
                    47.5
                ],
                [
                    235.18,
                    280.0
                ],
                [
                    114.67,
                    92.5
                ],
                [
                    80.1,
                    18.5
                ],
                [
                    97.0,
                    51.0
                ],
                [
                    83.54,
                    41.8
                ],
                [
                    138.0,
                    100.0
                ],
                [
                    126.72,
                    85.0
                ],
                [
                    94.0,
                    55.0
                ],
                [
                    113.0,
                    59.0
                ],
                [
                    109.0,
                    74.0
                ],
                [
                    78.62,
                    40.0
                ],
                [
                    104.0,
                    63.8
                ],
                [
                    129.0,
                    85.0
                ],
                [
                    91.0,
                    70.0
                ],
                [
                    85.0,
                    51.0
                ],
                [
                    111.0,
                    76.0
                ],
                [
                    123.0,
                    70.0
                ],
                [
                    52.0,
                    12.0
                ],
                [
                    137.0,
                    68.0
                ],
                [
                    133.0,
                    99.0
                ],
                [
                    88.0,
                    15.8
                ],
                [
                    95.0,
                    35.8
                ],
                [
                    109.54,
                    55.0
                ],
                [
                    70.28,
                    39.0
                ],
                [
                    71.39,
                    22.0
                ],
                [
                    88.08,
                    70.5
                ],
                [
                    101.0,
                    64.0
                ],
                [
                    110.0,
                    74.8
                ],
                [
                    108.0,
                    90.0
                ],
                [
                    81.1,
                    35.5
                ],
                [
                    89.77,
                    69.8
                ],
                [
                    126.0,
                    72.0
                ],
                [
                    89.57,
                    73.4
                ],
                [
                    112.0,
                    67.8
                ],
                [
                    113.23,
                    57.0
                ],
                [
                    87.14,
                    66.5
                ],
                [
                    120.0,
                    125.0
                ],
                [
                    78.74,
                    42.0
                ],
                [
                    93.0,
                    49.8
                ],
                [
                    72.99,
                    48.8
                ],
                [
                    94.0,
                    55.8
                ],
                [
                    75.0,
                    41.8
                ],
                [
                    111.0,
                    67.8
                ],
                [
                    93.23,
                    59.8
                ],
                [
                    118.09,
                    60.0
                ],
                [
                    120.9,
                    41.0
                ],
                [
                    122.0,
                    49.9
                ],
                [
                    138.65,
                    180.0
                ],
                [
                    116.86,
                    63.8
                ],
                [
                    85.0,
                    66.8
                ],
                [
                    123.0,
                    136.8
                ],
                [
                    114.0,
                    106.5
                ],
                [
                    66.0,
                    45.8
                ],
                [
                    41.0,
                    30.9
                ],
                [
                    52.33,
                    18.6
                ],
                [
                    78.38,
                    27.0
                ],
                [
                    109.92,
                    72.8
                ],
                [
                    118.0,
                    72.0
                ],
                [
                    83.9,
                    86.0
                ],
                [
                    90.96,
                    59.7
                ],
                [
                    75.18,
                    54.8
                ],
                [
                    97.28,
                    37.0
                ],
                [
                    128.0,
                    112.0
                ],
                [
                    97.04,
                    90.0
                ],
                [
                    143.36,
                    124.5
                ],
                [
                    103.88,
                    83.8
                ],
                [
                    97.0,
                    81.0
                ],
                [
                    95.0,
                    77.0
                ],
                [
                    79.84,
                    66.9
                ],
                [
                    88.0,
                    96.8
                ],
                [
                    90.8,
                    83.8
                ],
                [
                    61.43,
                    30.0
                ],
                [
                    98.4,
                    116.8
                ],
                [
                    90.0,
                    85.0
                ],
                [
                    113.5,
                    93.8
                ],
                [
                    103.0,
                    88.0
                ],
                [
                    130.39,
                    108.0
                ],
                [
                    46.59,
                    34.0
                ],
                [
                    96.37,
                    88.0
                ],
                [
                    110.0,
                    104.0
                ],
                [
                    72.0,
                    39.8
                ],
                [
                    67.0,
                    39.8
                ],
                [
                    95.0,
                    31.8
                ],
                [
                    68.0,
                    31.5
                ],
                [
                    41.18,
                    14.5
                ],
                [
                    103.0,
                    34.0
                ],
                [
                    89.0,
                    79.8
                ],
                [
                    103.0,
                    88.0
                ],
                [
                    89.0,
                    30.0
                ],
                [
                    82.0,
                    49.8
                ],
                [
                    85.0,
                    39.8
                ],
                [
                    268.0,
                    430.0
                ],
                [
                    268.0,
                    410.0
                ],
                [
                    79.02,
                    39.0
                ],
                [
                    65.59,
                    28.0
                ],
                [
                    71.2,
                    38.0
                ],
                [
                    89.0,
                    82.0
                ],
                [
                    120.99,
                    91.0
                ],
                [
                    124.0,
                    90.5
                ],
                [
                    125.0,
                    130.0
                ],
                [
                    141.79,
                    83.0
                ],
                [
                    87.33,
                    58.0
                ],
                [
                    86.78,
                    49.0
                ],
                [
                    92.05,
                    58.0
                ],
                [
                    117.72,
                    58.6
                ],
                [
                    234.0,
                    218.0
                ],
                [
                    460.0,
                    460.0
                ],
                [
                    185.0,
                    136.0
                ],
                [
                    126.6,
                    110.0
                ],
                [
                    265.5,
                    595.0
                ],
                [
                    184.64,
                    267.0
                ],
                [
                    96.61,
                    105.0
                ],
                [
                    106.0,
                    94.5
                ],
                [
                    85.7,
                    80.0
                ],
                [
                    170.0,
                    268.0
                ],
                [
                    127.14,
                    138.0
                ],
                [
                    137.84,
                    124.0
                ],
                [
                    120.0,
                    111.0
                ],
                [
                    89.04,
                    95.8
                ],
                [
                    97.52,
                    56.5
                ],
                [
                    139.4,
                    188.6
                ],
                [
                    80.0,
                    49.8
                ],
                [
                    114.0,
                    67.8
                ],
                [
                    103.95,
                    111.0
                ],
                [
                    138.0,
                    136.0
                ],
                [
                    76.0,
                    49.8
                ],
                [
                    82.78,
                    48.0
                ],
                [
                    93.0,
                    56.0
                ],
                [
                    101.25,
                    59.2
                ],
                [
                    96.0,
                    58.8
                ],
                [
                    73.0,
                    49.8
                ],
                [
                    98.0,
                    69.8
                ],
                [
                    98.26,
                    72.8
                ],
                [
                    89.0,
                    46.8
                ],
                [
                    169.0,
                    166.0
                ],
                [
                    111.0,
                    110.0
                ],
                [
                    73.0,
                    43.8
                ],
                [
                    83.35,
                    78.0
                ],
                [
                    106.0,
                    60.0
                ],
                [
                    125.0,
                    62.8
                ],
                [
                    100.0,
                    122.0
                ],
                [
                    94.0,
                    75.0
                ],
                [
                    97.0,
                    55.8
                ],
                [
                    119.0,
                    67.0
                ],
                [
                    143.0,
                    149.0
                ],
                [
                    108.0,
                    51.5
                ],
                [
                    80.0,
                    45.0
                ],
                [
                    117.12,
                    150.0
                ],
                [
                    90.0,
                    95.0
                ],
                [
                    81.0,
                    36.0
                ],
                [
                    104.0,
                    56.8
                ],
                [
                    73.0,
                    55.0
                ],
                [
                    133.0,
                    121.0
                ],
                [
                    117.0,
                    72.8
                ],
                [
                    107.02,
                    139.0
                ],
                [
                    70.53,
                    56.8
                ],
                [
                    72.69,
                    33.8
                ],
                [
                    98.14,
                    73.0
                ],
                [
                    89.15,
                    78.0
                ],
                [
                    100.2,
                    89.0
                ],
                [
                    110.0,
                    98.0
                ],
                [
                    114.13,
                    79.8
                ],
                [
                    200.41,
                    148.0
                ],
                [
                    91.25,
                    66.0
                ],
                [
                    124.39,
                    102.0
                ],
                [
                    91.0,
                    56.8
                ],
                [
                    104.6,
                    136.0
                ],
                [
                    98.19,
                    80.0
                ],
                [
                    94.76,
                    90.0
                ],
                [
                    132.55,
                    126.5
                ],
                [
                    112.58,
                    121.0
                ],
                [
                    165.0,
                    158.0
                ],
                [
                    136.51,
                    93.0
                ],
                [
                    103.0,
                    38.8
                ],
                [
                    97.0,
                    56.8
                ],
                [
                    116.79,
                    110.0
                ],
                [
                    61.58,
                    20.0
                ],
                [
                    31.0,
                    30.0
                ],
                [
                    78.43,
                    68.0
                ],
                [
                    86.2,
                    71.5
                ],
                [
                    72.0,
                    42.8
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                81.1,
                89.77,
                76.0,
                60.96,
                49.21,
                113.0,
                98.0,
                108.0,
                38.0,
                38.0,
                121.85,
                85.41,
                108.03,
                110.85,
                103.76,
                84.54,
                110.0,
                104.51,
                93.0,
                80.0,
                89.21,
                89.0,
                80.0,
                76.5,
                79.17,
                68.0,
                98.0,
                111.56,
                117.95,
                106.24,
                112.11,
                163.0,
                111.04,
                88.39,
                115.0,
                96.56,
                86.0,
                93.0,
                111.0,
                68.84,
                119.88,
                44.7,
                90.98,
                103.0,
                72.0,
                97.88,
                80.0,
                89.5,
                102.0,
                120.42,
                131.0,
                152.55,
                83.0,
                92.0,
                98.82,
                89.0,
                121.0,
                149.0,
                91.0,
                107.0,
                75.0,
                123.9,
                104.0,
                90.48,
                75.0,
                82.0,
                93.0,
                69.72,
                94.0,
                78.0,
                94.0,
                235.18,
                114.67,
                80.1,
                97.0,
                83.54,
                138.0,
                126.72,
                94.0,
                113.0,
                109.0,
                78.62,
                104.0,
                129.0,
                91.0,
                85.0,
                111.0,
                123.0,
                52.0,
                137.0,
                133.0,
                88.0,
                95.0,
                109.54,
                70.28,
                71.39,
                88.08,
                101.0,
                110.0,
                108.0,
                81.1,
                89.77,
                126.0,
                89.57,
                112.0,
                113.23,
                87.14,
                120.0,
                78.74,
                93.0,
                72.99,
                94.0,
                75.0,
                111.0,
                93.23,
                118.09,
                120.9,
                122.0,
                138.65,
                116.86,
                85.0,
                123.0,
                114.0,
                66.0,
                41.0,
                52.33,
                78.38,
                109.92,
                118.0,
                83.9,
                90.96,
                75.18,
                97.28,
                128.0,
                97.04,
                143.36,
                103.88,
                97.0,
                95.0,
                79.84,
                88.0,
                90.8,
                61.43,
                98.4,
                90.0,
                113.5,
                103.0,
                130.39,
                46.59,
                96.37,
                110.0,
                72.0,
                67.0,
                95.0,
                68.0,
                41.18,
                103.0,
                89.0,
                103.0,
                89.0,
                82.0,
                85.0,
                268.0,
                268.0,
                79.02,
                65.59,
                71.2,
                89.0,
                120.99,
                124.0,
                125.0,
                141.79,
                87.33,
                86.78,
                92.05,
                117.72,
                234.0,
                460.0,
                185.0,
                126.6,
                265.5,
                184.64,
                96.61,
                106.0,
                85.7,
                170.0,
                127.14,
                137.84,
                120.0,
                89.04,
                97.52,
                139.4,
                80.0,
                114.0,
                103.95,
                138.0,
                76.0,
                82.78,
                93.0,
                101.25,
                96.0,
                73.0,
                98.0,
                98.26,
                89.0,
                169.0,
                111.0,
                73.0,
                83.35,
                106.0,
                125.0,
                100.0,
                94.0,
                97.0,
                119.0,
                143.0,
                108.0,
                80.0,
                117.12,
                90.0,
                81.0,
                104.0,
                73.0,
                133.0,
                117.0,
                107.02,
                70.53,
                72.69,
                98.14,
                89.15,
                100.2,
                110.0,
                114.13,
                200.41,
                91.25,
                124.39,
                91.0,
                104.6,
                98.19,
                94.76,
                132.55,
                112.58,
                165.0,
                136.51,
                103.0,
                97.0,
                116.79,
                61.58,
                31.0,
                78.43,
                86.2,
                72.0
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_53f3148c0a7649e88742eba06669b2ab.setOption(option_53f3148c0a7649e88742eba06669b2ab);
    </script>
</body>
</html>
