<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/guang3_dong1_shen1_zhen4.js"></script>

</head>
<body>
    <div id="399be43730ee4a93a76ebde60dc88dab" class="chart-container" style="width:600px; height:500px;"></div>
    <script>
        var chart_399be43730ee4a93a76ebde60dc88dab = echarts.init(
            document.getElementById('399be43730ee4a93a76ebde60dc88dab'), 'white', {renderer: 'canvas'});
        var option_399be43730ee4a93a76ebde60dc88dab = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u6df1\u5733",
            "data": [
                {
                    "name": "\u5149\u660e\u533a",
                    "value": 40945
                },
                {
                    "name": "\u5357\u5c71\u533a",
                    "value": 83845
                },
                {
                    "name": "\u576a\u5c71\u533a",
                    "value": 34641
                },
                {
                    "name": "\u5927\u9e4f\u65b0\u533a",
                    "value": 32541
                },
                {
                    "name": "\u5b9d\u5b89\u533a",
                    "value": 60376
                },
                {
                    "name": "\u76d0\u7530\u533a",
                    "value": 45796
                },
                {
                    "name": "\u798f\u7530\u533a",
                    "value": 75809
                },
                {
                    "name": "\u7f57\u6e56\u533a",
                    "value": 53422
                },
                {
                    "name": "\u9f99\u534e\u533a",
                    "value": 61414
                },
                {
                    "name": "\u9f99\u5c97\u533a",
                    "value": 44073
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 31541,
        "max": 83845,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_399be43730ee4a93a76ebde60dc88dab.setOption(option_399be43730ee4a93a76ebde60dc88dab);
    </script>
</body>
</html>
