<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7cf0f3893f764413a55399ed6318c49e" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_7cf0f3893f764413a55399ed6318c49e = echarts.init(
            document.getElementById('7cf0f3893f764413a55399ed6318c49e'), 'white', {renderer: 'canvas'});
        var option_7cf0f3893f764413a55399ed6318c49e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    104.63,
                    80.0
                ],
                [
                    143.03,
                    220.0
                ],
                [
                    46.71,
                    36.0
                ],
                [
                    95.0,
                    150.0
                ],
                [
                    98.0,
                    26.0
                ],
                [
                    104.63,
                    62.0
                ],
                [
                    142.28,
                    69.8
                ],
                [
                    188.54,
                    56.0
                ],
                [
                    85.02,
                    37.8
                ],
                [
                    156.39,
                    110.0
                ],
                [
                    114.83,
                    55.0
                ],
                [
                    83.9,
                    68.0
                ],
                [
                    116.0,
                    99.8
                ],
                [
                    79.44,
                    28.0
                ],
                [
                    84.0,
                    65.0
                ],
                [
                    143.49,
                    51.8
                ],
                [
                    112.0,
                    45.3
                ],
                [
                    120.4,
                    67.0
                ],
                [
                    115.69,
                    53.8
                ],
                [
                    148.65,
                    65.0
                ],
                [
                    182.54,
                    76.8
                ],
                [
                    116.0,
                    108.8
                ],
                [
                    83.87,
                    72.0
                ],
                [
                    113.0,
                    65.0
                ],
                [
                    99.0,
                    59.8
                ],
                [
                    116.0,
                    71.8
                ],
                [
                    78.0,
                    23.0
                ],
                [
                    29.4,
                    10.0
                ],
                [
                    191.9,
                    102.0
                ],
                [
                    136.0,
                    66.0
                ],
                [
                    158.0,
                    102.0
                ],
                [
                    116.0,
                    105.0
                ],
                [
                    128.29,
                    69.8
                ],
                [
                    178.09,
                    82.0
                ],
                [
                    335.0,
                    160.0
                ],
                [
                    104.6,
                    55.8
                ],
                [
                    121.72,
                    45.0
                ],
                [
                    63.37,
                    34.5
                ],
                [
                    126.4,
                    112.0
                ],
                [
                    90.29,
                    68.8
                ],
                [
                    118.16,
                    76.8
                ],
                [
                    98.0,
                    60.0
                ],
                [
                    365.89,
                    365.0
                ],
                [
                    165.0,
                    96.0
                ],
                [
                    109.66,
                    69.8
                ],
                [
                    121.49,
                    85.0
                ],
                [
                    132.8,
                    70.0
                ],
                [
                    144.59,
                    135.0
                ],
                [
                    117.13,
                    96.0
                ],
                [
                    131.9,
                    68.8
                ],
                [
                    118.44,
                    45.8
                ],
                [
                    115.31,
                    85.0
                ],
                [
                    78.61,
                    53.8
                ],
                [
                    97.78,
                    45.0
                ],
                [
                    142.16,
                    103.0
                ],
                [
                    105.97,
                    52.0
                ],
                [
                    103.3,
                    65.0
                ],
                [
                    88.43,
                    63.8
                ],
                [
                    124.99,
                    90.0
                ],
                [
                    144.24,
                    82.0
                ],
                [
                    133.75,
                    104.8
                ],
                [
                    71.65,
                    32.0
                ],
                [
                    134.37,
                    90.0
                ],
                [
                    65.27,
                    32.0
                ],
                [
                    111.78,
                    73.5
                ],
                [
                    179.98,
                    380.0
                ],
                [
                    66.6,
                    27.0
                ],
                [
                    120.89,
                    58.0
                ],
                [
                    144.0,
                    205.0
                ],
                [
                    68.18,
                    30.0
                ],
                [
                    253.18,
                    360.0
                ],
                [
                    139.0,
                    70.0
                ],
                [
                    230.12,
                    298.0
                ],
                [
                    65.0,
                    29.5
                ],
                [
                    116.41,
                    48.5
                ],
                [
                    90.23,
                    50.0
                ],
                [
                    215.8,
                    248.0
                ],
                [
                    233.85,
                    280.0
                ],
                [
                    206.56,
                    260.0
                ],
                [
                    89.5,
                    50.0
                ],
                [
                    311.0,
                    338.0
                ],
                [
                    93.5,
                    32.8
                ],
                [
                    233.0,
                    259.0
                ],
                [
                    180.0,
                    270.0
                ],
                [
                    222.77,
                    258.0
                ],
                [
                    62.68,
                    30.0
                ],
                [
                    311.54,
                    300.0
                ],
                [
                    175.0,
                    330.0
                ],
                [
                    58.0,
                    26.8
                ],
                [
                    233.84,
                    260.0
                ],
                [
                    66.0,
                    28.0
                ],
                [
                    77.0,
                    50.0
                ],
                [
                    92.0,
                    50.0
                ],
                [
                    58.0,
                    28.0
                ],
                [
                    84.0,
                    32.0
                ],
                [
                    156.56,
                    90.0
                ],
                [
                    138.51,
                    86.0
                ],
                [
                    116.0,
                    53.0
                ],
                [
                    116.04,
                    138.0
                ],
                [
                    280.12,
                    176.0
                ],
                [
                    95.72,
                    95.0
                ],
                [
                    115.7,
                    60.0
                ],
                [
                    103.08,
                    55.0
                ],
                [
                    116.0,
                    75.0
                ],
                [
                    188.0,
                    92.0
                ],
                [
                    96.0,
                    81.0
                ],
                [
                    330.0,
                    180.0
                ],
                [
                    97.0,
                    74.0
                ],
                [
                    124.0,
                    80.0
                ],
                [
                    139.0,
                    79.8
                ],
                [
                    83.62,
                    77.8
                ],
                [
                    107.18,
                    42.0
                ],
                [
                    152.68,
                    109.0
                ],
                [
                    187.46,
                    113.8
                ],
                [
                    122.56,
                    75.0
                ],
                [
                    143.0,
                    79.0
                ],
                [
                    104.47,
                    70.0
                ],
                [
                    107.16,
                    67.0
                ],
                [
                    90.96,
                    45.0
                ],
                [
                    97.4,
                    75.0
                ],
                [
                    97.26,
                    57.0
                ],
                [
                    135.25,
                    57.0
                ],
                [
                    131.1,
                    80.0
                ],
                [
                    135.84,
                    58.8
                ],
                [
                    95.18,
                    65.0
                ],
                [
                    109.14,
                    70.0
                ],
                [
                    124.71,
                    95.0
                ],
                [
                    111.78,
                    73.8
                ],
                [
                    118.25,
                    78.0
                ],
                [
                    165.39,
                    110.0
                ],
                [
                    130.0,
                    88.8
                ],
                [
                    123.19,
                    78.0
                ],
                [
                    93.0,
                    54.8
                ],
                [
                    139.1,
                    95.0
                ],
                [
                    120.46,
                    65.0
                ],
                [
                    164.0,
                    96.0
                ],
                [
                    140.0,
                    82.0
                ],
                [
                    139.44,
                    87.0
                ],
                [
                    83.64,
                    37.0
                ],
                [
                    92.39,
                    54.9
                ],
                [
                    66.2,
                    40.0
                ],
                [
                    143.0,
                    81.6
                ],
                [
                    151.13,
                    55.0
                ],
                [
                    84.06,
                    49.0
                ],
                [
                    61.62,
                    38.0
                ],
                [
                    72.0,
                    55.0
                ],
                [
                    59.77,
                    33.0
                ],
                [
                    30.24,
                    14.0
                ],
                [
                    80.6,
                    49.5
                ],
                [
                    40.65,
                    31.8
                ],
                [
                    140.0,
                    85.0
                ],
                [
                    138.0,
                    116.0
                ],
                [
                    140.27,
                    87.8
                ],
                [
                    137.35,
                    92.0
                ],
                [
                    117.7,
                    78.0
                ],
                [
                    111.0,
                    59.0
                ],
                [
                    111.32,
                    58.0
                ],
                [
                    133.45,
                    185.0
                ],
                [
                    95.16,
                    68.0
                ],
                [
                    111.3,
                    68.0
                ],
                [
                    111.0,
                    60.0
                ],
                [
                    39.16,
                    46.0
                ],
                [
                    95.42,
                    45.0
                ],
                [
                    102.23,
                    60.0
                ],
                [
                    145.0,
                    235.0
                ],
                [
                    62.69,
                    33.0
                ],
                [
                    63.0,
                    36.0
                ],
                [
                    120.0,
                    55.0
                ],
                [
                    150.0,
                    100.0
                ],
                [
                    110.0,
                    55.0
                ],
                [
                    71.0,
                    45.0
                ],
                [
                    58.0,
                    25.0
                ],
                [
                    58.0,
                    25.0
                ],
                [
                    63.0,
                    58.0
                ],
                [
                    115.0,
                    56.0
                ],
                [
                    58.0,
                    30.0
                ],
                [
                    58.0,
                    34.0
                ],
                [
                    186.67,
                    479.5
                ],
                [
                    56.58,
                    33.0
                ],
                [
                    145.33,
                    300.0
                ],
                [
                    93.45,
                    52.0
                ],
                [
                    89.86,
                    38.0
                ],
                [
                    39.18,
                    42.8
                ],
                [
                    275.0,
                    350.0
                ],
                [
                    111.1,
                    62.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                104.63,
                143.03,
                46.71,
                95.0,
                98.0,
                104.63,
                142.28,
                188.54,
                85.02,
                156.39,
                114.83,
                83.9,
                116.0,
                79.44,
                84.0,
                143.49,
                112.0,
                120.4,
                115.69,
                148.65,
                182.54,
                116.0,
                83.87,
                113.0,
                99.0,
                116.0,
                78.0,
                29.4,
                191.9,
                136.0,
                158.0,
                116.0,
                128.29,
                178.09,
                335.0,
                104.6,
                121.72,
                63.37,
                126.4,
                90.29,
                118.16,
                98.0,
                365.89,
                165.0,
                109.66,
                121.49,
                132.8,
                144.59,
                117.13,
                131.9,
                118.44,
                115.31,
                78.61,
                97.78,
                142.16,
                105.97,
                103.3,
                88.43,
                124.99,
                144.24,
                133.75,
                71.65,
                134.37,
                65.27,
                111.78,
                179.98,
                66.6,
                120.89,
                144.0,
                68.18,
                253.18,
                139.0,
                230.12,
                65.0,
                116.41,
                90.23,
                215.8,
                233.85,
                206.56,
                89.5,
                311.0,
                93.5,
                233.0,
                180.0,
                222.77,
                62.68,
                311.54,
                175.0,
                58.0,
                233.84,
                66.0,
                77.0,
                92.0,
                58.0,
                84.0,
                156.56,
                138.51,
                116.0,
                116.04,
                280.12,
                95.72,
                115.7,
                103.08,
                116.0,
                188.0,
                96.0,
                330.0,
                97.0,
                124.0,
                139.0,
                83.62,
                107.18,
                152.68,
                187.46,
                122.56,
                143.0,
                104.47,
                107.16,
                90.96,
                97.4,
                97.26,
                135.25,
                131.1,
                135.84,
                95.18,
                109.14,
                124.71,
                111.78,
                118.25,
                165.39,
                130.0,
                123.19,
                93.0,
                139.1,
                120.46,
                164.0,
                140.0,
                139.44,
                83.64,
                92.39,
                66.2,
                143.0,
                151.13,
                84.06,
                61.62,
                72.0,
                59.77,
                30.24,
                80.6,
                40.65,
                140.0,
                138.0,
                140.27,
                137.35,
                117.7,
                111.0,
                111.32,
                133.45,
                95.16,
                111.3,
                111.0,
                39.16,
                95.42,
                102.23,
                145.0,
                62.69,
                63.0,
                120.0,
                150.0,
                110.0,
                71.0,
                58.0,
                58.0,
                63.0,
                115.0,
                58.0,
                58.0,
                186.67,
                56.58,
                145.33,
                93.45,
                89.86,
                39.18,
                275.0,
                111.1
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_7cf0f3893f764413a55399ed6318c49e.setOption(option_7cf0f3893f764413a55399ed6318c49e);
    </script>
</body>
</html>
