<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/guang3_dong1_zhan4_jiang1.js"></script>

</head>
<body>
    <div id="399f5ed89da74632a394971558ea73dd" class="chart-container" style="width:600px; height:500px;"></div>
    <script>
        var chart_399f5ed89da74632a394971558ea73dd = echarts.init(
            document.getElementById('399f5ed89da74632a394971558ea73dd'), 'white', {renderer: 'canvas'});
        var option_399f5ed89da74632a394971558ea73dd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u6e5b\u6c5f",
            "data": [
                {
                    "name": "\u5434\u5ddd\u5e02",
                    "value": 7822
                },
                {
                    "name": "\u5761\u5934\u533a",
                    "value": 8430
                },
                {
                    "name": "\u8d64\u574e\u533a",
                    "value": 10772
                },
                {
                    "name": "\u9042\u6eaa\u53bf",
                    "value": 5192
                },
                {
                    "name": "\u96f7\u5dde\u5e02",
                    "value": 7128
                },
                {
                    "name": "\u971e\u5c71\u533a",
                    "value": 8207
                },
                {
                    "name": "\u9ebb\u7ae0\u533a",
                    "value": 7167
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 4192,
        "max": 10772,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_399f5ed89da74632a394971558ea73dd.setOption(option_399f5ed89da74632a394971558ea73dd);
    </script>
</body>
</html>
