<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="994f134bf59d4b118d167d5297b2fac9" class="chart-container" style="width:410px; height:300px;"></div>
    <script>
        var chart_994f134bf59d4b118d167d5297b2fac9 = echarts.init(
            document.getElementById('994f134bf59d4b118d167d5297b2fac9'), 'white', {renderer: 'canvas'});
        var option_994f134bf59d4b118d167d5297b2fac9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#fadb71",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5957\u6570",
            "legendHoverLink": true,
            "data": [
                14,
                12,
                10,
                9,
                8,
                7,
                6,
                6,
                5,
                5
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u534e\u878d\u7434\u6d77\u6e7e ",
                    54315.86
                ],
                [
                    "\u8354\u679d\u6e7e\u82b1\u56ed\uff08\u5357\u533a\uff09 ",
                    57876.42
                ],
                [
                    "\u6d77\u6021\u6e7e\u7554 ",
                    20841.5
                ],
                [
                    "\u8fdc\u5927\u7f8e\u57df ",
                    21181.89
                ],
                [
                    "\u534e\u53d1\u9996\u5e9c\u82b1\u56ed\u4e00\u671f ",
                    51833.62
                ],
                [
                    "\u534e\u53d1\u851a\u84dd\u5821 ",
                    25393.86
                ],
                [
                    "\u4e2d\u6d77\u540d\u94bb\u82b1\u56ed ",
                    52804.5
                ],
                [
                    "\u9f99\u5149\u7396\u9f99\u5e9c ",
                    19601.67
                ],
                [
                    "\u7fe0\u6e56\u9999\u5c71\u7389\u5170\u82d1 ",
                    28169.2
                ],
                [
                    "\u65f6\u4ee3\u9999\u6d77\u5f7c\u5cb8 ",
                    14108.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "color": "green",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid",
                "color": "#7fff00"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5957\u6570",
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7"
            ],
            "selected": {
                "\u5957\u6570": true,
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "color": "green"
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -15,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u534e\u878d\u7434\u6d77\u6e7e ",
                "\u8354\u679d\u6e7e\u82b1\u56ed\uff08\u5357\u533a\uff09 ",
                "\u6d77\u6021\u6e7e\u7554 ",
                "\u8fdc\u5927\u7f8e\u57df ",
                "\u534e\u53d1\u9996\u5e9c\u82b1\u56ed\u4e00\u671f ",
                "\u534e\u53d1\u851a\u84dd\u5821 ",
                "\u4e2d\u6d77\u540d\u94bb\u82b1\u56ed ",
                "\u9f99\u5149\u7396\u9f99\u5e9c ",
                "\u7fe0\u6e56\u9999\u5c71\u7389\u5170\u82d1 ",
                "\u65f6\u4ee3\u9999\u6d77\u5f7c\u5cb8 "
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 20,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5957"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 60,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 8000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5143"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_994f134bf59d4b118d167d5297b2fac9.setOption(option_994f134bf59d4b118d167d5297b2fac9);
    </script>
</body>
</html>
