<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0b99f41ffe7240f2bcc75eb9d9a08f69" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_0b99f41ffe7240f2bcc75eb9d9a08f69 = echarts.init(
            document.getElementById('0b99f41ffe7240f2bcc75eb9d9a08f69'), 'white', {renderer: 'canvas'});
        var option_0b99f41ffe7240f2bcc75eb9d9a08f69 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    114.63,
                    82.0
                ],
                [
                    258.22,
                    630.0
                ],
                [
                    226.28,
                    650.0
                ],
                [
                    109.49,
                    115.0
                ],
                [
                    116.65,
                    91.0
                ],
                [
                    70.19,
                    98.0
                ],
                [
                    117.84,
                    108.0
                ],
                [
                    133.42,
                    118.0
                ],
                [
                    87.66,
                    111.0
                ],
                [
                    101.36,
                    191.0
                ],
                [
                    89.0,
                    93.0
                ],
                [
                    143.18,
                    150.0
                ],
                [
                    86.85,
                    83.0
                ],
                [
                    127.86,
                    216.0
                ],
                [
                    158.59,
                    205.0
                ],
                [
                    81.65,
                    82.0
                ],
                [
                    119.59,
                    210.0
                ],
                [
                    90.51,
                    118.0
                ],
                [
                    115.54,
                    85.0
                ],
                [
                    91.78,
                    118.0
                ],
                [
                    82.0,
                    110.0
                ],
                [
                    114.93,
                    94.8
                ],
                [
                    112.75,
                    79.0
                ],
                [
                    95.98,
                    76.0
                ],
                [
                    88.18,
                    140.0
                ],
                [
                    96.63,
                    110.0
                ],
                [
                    115.72,
                    135.0
                ],
                [
                    109.15,
                    125.0
                ],
                [
                    123.63,
                    146.0
                ],
                [
                    94.11,
                    125.0
                ],
                [
                    100.37,
                    129.0
                ],
                [
                    94.72,
                    115.0
                ],
                [
                    80.9,
                    63.0
                ],
                [
                    95.18,
                    138.0
                ],
                [
                    80.35,
                    90.0
                ],
                [
                    199.15,
                    355.0
                ],
                [
                    93.54,
                    130.0
                ],
                [
                    97.71,
                    175.0
                ],
                [
                    134.18,
                    165.0
                ],
                [
                    99.75,
                    173.0
                ],
                [
                    91.22,
                    79.0
                ],
                [
                    99.13,
                    192.0
                ],
                [
                    151.2,
                    260.0
                ],
                [
                    106.06,
                    120.0
                ],
                [
                    117.06,
                    165.0
                ],
                [
                    83.91,
                    145.0
                ],
                [
                    91.27,
                    118.0
                ],
                [
                    64.39,
                    92.0
                ],
                [
                    104.25,
                    80.0
                ],
                [
                    87.7,
                    113.0
                ],
                [
                    76.05,
                    102.0
                ],
                [
                    86.49,
                    130.0
                ],
                [
                    91.19,
                    116.0
                ],
                [
                    91.77,
                    115.0
                ],
                [
                    118.66,
                    239.9
                ],
                [
                    96.7,
                    168.0
                ],
                [
                    90.14,
                    116.8
                ],
                [
                    87.61,
                    143.0
                ],
                [
                    96.88,
                    146.8
                ],
                [
                    131.67,
                    245.0
                ],
                [
                    103.91,
                    98.0
                ],
                [
                    106.92,
                    150.0
                ],
                [
                    78.18,
                    96.0
                ],
                [
                    122.0,
                    175.0
                ],
                [
                    78.0,
                    107.0
                ],
                [
                    147.0,
                    135.0
                ],
                [
                    99.75,
                    126.0
                ],
                [
                    94.11,
                    135.0
                ],
                [
                    85.44,
                    96.5
                ],
                [
                    105.1,
                    84.0
                ],
                [
                    100.98,
                    127.0
                ],
                [
                    89.4,
                    75.0
                ],
                [
                    90.37,
                    100.0
                ],
                [
                    74.72,
                    106.0
                ],
                [
                    97.97,
                    126.0
                ],
                [
                    111.0,
                    105.0
                ],
                [
                    145.0,
                    148.0
                ],
                [
                    122.4,
                    176.0
                ],
                [
                    90.0,
                    103.0
                ],
                [
                    86.45,
                    50.0
                ],
                [
                    49.53,
                    50.0
                ],
                [
                    102.52,
                    125.0
                ],
                [
                    82.8,
                    59.5
                ],
                [
                    81.31,
                    69.0
                ],
                [
                    101.4,
                    108.0
                ],
                [
                    97.85,
                    73.5
                ],
                [
                    101.2,
                    108.0
                ],
                [
                    82.48,
                    77.0
                ],
                [
                    93.83,
                    105.0
                ],
                [
                    110.0,
                    115.0
                ],
                [
                    102.0,
                    142.0
                ],
                [
                    114.63,
                    82.0
                ],
                [
                    92.63,
                    99.0
                ],
                [
                    98.8,
                    143.0
                ],
                [
                    165.86,
                    445.0
                ],
                [
                    191.8,
                    540.0
                ],
                [
                    84.11,
                    162.0
                ],
                [
                    109.69,
                    366.0
                ],
                [
                    99.38,
                    273.8
                ],
                [
                    90.68,
                    159.8
                ],
                [
                    104.09,
                    265.0
                ],
                [
                    85.46,
                    168.0
                ],
                [
                    35.53,
                    60.0
                ],
                [
                    43.75,
                    128.0
                ],
                [
                    118.4,
                    240.0
                ],
                [
                    88.58,
                    278.0
                ],
                [
                    91.55,
                    251.0
                ],
                [
                    89.24,
                    231.0
                ],
                [
                    82.89,
                    255.0
                ],
                [
                    100.41,
                    170.0
                ],
                [
                    77.5,
                    135.0
                ],
                [
                    104.71,
                    243.0
                ],
                [
                    132.15,
                    373.0
                ],
                [
                    72.0,
                    248.0
                ],
                [
                    107.76,
                    212.0
                ],
                [
                    88.67,
                    248.0
                ],
                [
                    120.9,
                    325.0
                ],
                [
                    81.71,
                    140.0
                ],
                [
                    82.34,
                    163.0
                ],
                [
                    89.15,
                    230.0
                ],
                [
                    84.52,
                    233.0
                ],
                [
                    128.0,
                    410.0
                ],
                [
                    90.24,
                    210.0
                ],
                [
                    109.4,
                    94.0
                ],
                [
                    72.39,
                    83.0
                ],
                [
                    75.04,
                    70.0
                ],
                [
                    116.58,
                    226.0
                ],
                [
                    116.72,
                    218.0
                ],
                [
                    94.93,
                    136.0
                ],
                [
                    127.0,
                    280.0
                ],
                [
                    111.42,
                    108.0
                ],
                [
                    82.54,
                    82.0
                ],
                [
                    88.49,
                    55.0
                ],
                [
                    88.9,
                    63.0
                ],
                [
                    88.19,
                    135.0
                ],
                [
                    99.28,
                    133.0
                ],
                [
                    73.24,
                    163.0
                ],
                [
                    96.58,
                    185.0
                ],
                [
                    120.56,
                    145.0
                ],
                [
                    96.67,
                    156.0
                ],
                [
                    99.8,
                    187.0
                ],
                [
                    95.61,
                    195.0
                ],
                [
                    128.82,
                    260.0
                ],
                [
                    91.83,
                    137.5
                ],
                [
                    118.08,
                    219.0
                ],
                [
                    111.93,
                    190.0
                ],
                [
                    124.0,
                    260.0
                ],
                [
                    90.91,
                    49.0
                ],
                [
                    117.76,
                    225.0
                ],
                [
                    134.6,
                    350.0
                ],
                [
                    31.87,
                    27.5
                ],
                [
                    88.61,
                    130.0
                ],
                [
                    79.46,
                    79.0
                ],
                [
                    85.0,
                    400.0
                ],
                [
                    26.01,
                    155.0
                ],
                [
                    86.89,
                    410.0
                ],
                [
                    84.3,
                    380.0
                ],
                [
                    229.64,
                    1000.0
                ],
                [
                    81.73,
                    325.0
                ],
                [
                    109.4,
                    635.0
                ],
                [
                    137.3,
                    698.0
                ],
                [
                    128.08,
                    600.0
                ],
                [
                    79.94,
                    410.0
                ],
                [
                    76.88,
                    450.0
                ],
                [
                    39.0,
                    210.0
                ],
                [
                    122.8,
                    677.0
                ],
                [
                    138.48,
                    685.0
                ],
                [
                    137.6,
                    696.0
                ],
                [
                    134.32,
                    760.0
                ],
                [
                    118.82,
                    565.0
                ],
                [
                    40.29,
                    240.0
                ],
                [
                    123.4,
                    850.0
                ],
                [
                    134.32,
                    678.0
                ],
                [
                    102.14,
                    742.0
                ],
                [
                    137.75,
                    697.0
                ],
                [
                    40.46,
                    280.0
                ],
                [
                    86.41,
                    538.0
                ],
                [
                    79.44,
                    445.0
                ],
                [
                    106.0,
                    318.0
                ],
                [
                    78.06,
                    400.0
                ],
                [
                    82.5,
                    418.0
                ],
                [
                    84.3,
                    405.0
                ],
                [
                    99.95,
                    380.0
                ],
                [
                    175.59,
                    468.0
                ],
                [
                    102.0,
                    335.0
                ],
                [
                    101.4,
                    255.0
                ],
                [
                    129.67,
                    375.0
                ],
                [
                    95.2,
                    320.0
                ],
                [
                    129.09,
                    235.0
                ],
                [
                    152.87,
                    360.0
                ],
                [
                    139.65,
                    340.0
                ],
                [
                    122.8,
                    225.0
                ],
                [
                    143.81,
                    450.0
                ],
                [
                    139.41,
                    333.0
                ],
                [
                    90.29,
                    255.0
                ],
                [
                    101.0,
                    268.0
                ],
                [
                    94.0,
                    168.0
                ],
                [
                    91.21,
                    228.0
                ],
                [
                    137.72,
                    299.0
                ],
                [
                    81.32,
                    170.0
                ],
                [
                    177.14,
                    305.0
                ],
                [
                    144.14,
                    445.0
                ],
                [
                    130.41,
                    355.0
                ],
                [
                    161.85,
                    421.0
                ],
                [
                    86.99,
                    220.0
                ],
                [
                    89.15,
                    175.0
                ],
                [
                    139.41,
                    332.0
                ],
                [
                    129.0,
                    300.0
                ],
                [
                    205.06,
                    360.0
                ],
                [
                    130.0,
                    275.0
                ],
                [
                    180.25,
                    385.0
                ],
                [
                    80.97,
                    160.0
                ],
                [
                    97.69,
                    200.0
                ],
                [
                    75.5,
                    115.0
                ],
                [
                    53.35,
                    89.0
                ],
                [
                    65.68,
                    113.0
                ],
                [
                    30.8,
                    59.0
                ],
                [
                    69.69,
                    135.0
                ],
                [
                    147.98,
                    488.0
                ],
                [
                    89.34,
                    250.0
                ],
                [
                    127.07,
                    293.0
                ],
                [
                    65.24,
                    141.0
                ],
                [
                    128.0,
                    163.0
                ],
                [
                    84.2,
                    180.0
                ],
                [
                    142.75,
                    315.0
                ],
                [
                    117.8,
                    173.0
                ],
                [
                    89.0,
                    272.0
                ],
                [
                    97.7,
                    165.0
                ],
                [
                    69.8,
                    123.0
                ],
                [
                    120.91,
                    290.0
                ],
                [
                    117.15,
                    210.0
                ],
                [
                    86.01,
                    238.0
                ],
                [
                    64.0,
                    115.0
                ],
                [
                    78.44,
                    145.0
                ],
                [
                    56.05,
                    95.0
                ],
                [
                    92.83,
                    235.0
                ],
                [
                    98.75,
                    306.0
                ],
                [
                    132.28,
                    310.0
                ],
                [
                    83.85,
                    249.0
                ],
                [
                    55.51,
                    145.0
                ],
                [
                    91.14,
                    240.0
                ],
                [
                    70.62,
                    147.0
                ],
                [
                    71.62,
                    250.8
                ],
                [
                    83.45,
                    525.0
                ],
                [
                    142.16,
                    680.0
                ],
                [
                    86.46,
                    365.0
                ],
                [
                    81.53,
                    468.0
                ],
                [
                    105.0,
                    550.0
                ],
                [
                    121.93,
                    670.0
                ],
                [
                    96.28,
                    508.0
                ],
                [
                    84.39,
                    473.0
                ],
                [
                    98.94,
                    500.0
                ],
                [
                    76.88,
                    440.0
                ],
                [
                    89.06,
                    352.0
                ],
                [
                    139.49,
                    589.0
                ],
                [
                    82.98,
                    463.0
                ],
                [
                    85.94,
                    276.0
                ],
                [
                    89.06,
                    442.0
                ],
                [
                    82.13,
                    510.0
                ],
                [
                    78.34,
                    390.0
                ],
                [
                    77.74,
                    423.0
                ],
                [
                    213.84,
                    1100.0
                ],
                [
                    96.28,
                    532.0
                ],
                [
                    141.0,
                    733.0
                ],
                [
                    116.77,
                    364.0
                ],
                [
                    484.05,
                    3098.0
                ],
                [
                    183.76,
                    1430.0
                ],
                [
                    166.28,
                    949.8
                ],
                [
                    128.16,
                    787.0
                ],
                [
                    96.55,
                    480.0
                ],
                [
                    122.8,
                    650.0
                ],
                [
                    170.0,
                    960.0
                ],
                [
                    85.0,
                    600.0
                ],
                [
                    102.0,
                    310.0
                ],
                [
                    84.98,
                    223.0
                ],
                [
                    109.0,
                    275.0
                ],
                [
                    87.92,
                    245.0
                ],
                [
                    113.98,
                    320.0
                ],
                [
                    88.57,
                    240.0
                ],
                [
                    100.0,
                    180.0
                ],
                [
                    191.39,
                    359.0
                ],
                [
                    81.2,
                    165.0
                ],
                [
                    118.09,
                    330.0
                ],
                [
                    164.27,
                    350.0
                ],
                [
                    140.0,
                    280.0
                ],
                [
                    118.0,
                    246.0
                ],
                [
                    93.0,
                    178.0
                ],
                [
                    144.25,
                    455.0
                ],
                [
                    151.0,
                    330.0
                ],
                [
                    91.18,
                    230.0
                ],
                [
                    105.92,
                    183.0
                ],
                [
                    267.78,
                    610.0
                ],
                [
                    128.28,
                    388.0
                ],
                [
                    209.04,
                    738.0
                ],
                [
                    283.45,
                    605.0
                ],
                [
                    199.0,
                    515.0
                ],
                [
                    226.15,
                    650.0
                ],
                [
                    167.35,
                    468.0
                ],
                [
                    153.0,
                    343.0
                ],
                [
                    157.82,
                    455.0
                ],
                [
                    172.42,
                    440.0
                ],
                [
                    258.22,
                    630.0
                ],
                [
                    159.8,
                    568.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                114.63,
                258.22,
                226.28,
                109.49,
                116.65,
                70.19,
                117.84,
                133.42,
                87.66,
                101.36,
                89.0,
                143.18,
                86.85,
                127.86,
                158.59,
                81.65,
                119.59,
                90.51,
                115.54,
                91.78,
                82.0,
                114.93,
                112.75,
                95.98,
                88.18,
                96.63,
                115.72,
                109.15,
                123.63,
                94.11,
                100.37,
                94.72,
                80.9,
                95.18,
                80.35,
                199.15,
                93.54,
                97.71,
                134.18,
                99.75,
                91.22,
                99.13,
                151.2,
                106.06,
                117.06,
                83.91,
                91.27,
                64.39,
                104.25,
                87.7,
                76.05,
                86.49,
                91.19,
                91.77,
                118.66,
                96.7,
                90.14,
                87.61,
                96.88,
                131.67,
                103.91,
                106.92,
                78.18,
                122.0,
                78.0,
                147.0,
                99.75,
                94.11,
                85.44,
                105.1,
                100.98,
                89.4,
                90.37,
                74.72,
                97.97,
                111.0,
                145.0,
                122.4,
                90.0,
                86.45,
                49.53,
                102.52,
                82.8,
                81.31,
                101.4,
                97.85,
                101.2,
                82.48,
                93.83,
                110.0,
                102.0,
                114.63,
                92.63,
                98.8,
                165.86,
                191.8,
                84.11,
                109.69,
                99.38,
                90.68,
                104.09,
                85.46,
                35.53,
                43.75,
                118.4,
                88.58,
                91.55,
                89.24,
                82.89,
                100.41,
                77.5,
                104.71,
                132.15,
                72.0,
                107.76,
                88.67,
                120.9,
                81.71,
                82.34,
                89.15,
                84.52,
                128.0,
                90.24,
                109.4,
                72.39,
                75.04,
                116.58,
                116.72,
                94.93,
                127.0,
                111.42,
                82.54,
                88.49,
                88.9,
                88.19,
                99.28,
                73.24,
                96.58,
                120.56,
                96.67,
                99.8,
                95.61,
                128.82,
                91.83,
                118.08,
                111.93,
                124.0,
                90.91,
                117.76,
                134.6,
                31.87,
                88.61,
                79.46,
                85.0,
                26.01,
                86.89,
                84.3,
                229.64,
                81.73,
                109.4,
                137.3,
                128.08,
                79.94,
                76.88,
                39.0,
                122.8,
                138.48,
                137.6,
                134.32,
                118.82,
                40.29,
                123.4,
                134.32,
                102.14,
                137.75,
                40.46,
                86.41,
                79.44,
                106.0,
                78.06,
                82.5,
                84.3,
                99.95,
                175.59,
                102.0,
                101.4,
                129.67,
                95.2,
                129.09,
                152.87,
                139.65,
                122.8,
                143.81,
                139.41,
                90.29,
                101.0,
                94.0,
                91.21,
                137.72,
                81.32,
                177.14,
                144.14,
                130.41,
                161.85,
                86.99,
                89.15,
                139.41,
                129.0,
                205.06,
                130.0,
                180.25,
                80.97,
                97.69,
                75.5,
                53.35,
                65.68,
                30.8,
                69.69,
                147.98,
                89.34,
                127.07,
                65.24,
                128.0,
                84.2,
                142.75,
                117.8,
                89.0,
                97.7,
                69.8,
                120.91,
                117.15,
                86.01,
                64.0,
                78.44,
                56.05,
                92.83,
                98.75,
                132.28,
                83.85,
                55.51,
                91.14,
                70.62,
                71.62,
                83.45,
                142.16,
                86.46,
                81.53,
                105.0,
                121.93,
                96.28,
                84.39,
                98.94,
                76.88,
                89.06,
                139.49,
                82.98,
                85.94,
                89.06,
                82.13,
                78.34,
                77.74,
                213.84,
                96.28,
                141.0,
                116.77,
                484.05,
                183.76,
                166.28,
                128.16,
                96.55,
                122.8,
                170.0,
                85.0,
                102.0,
                84.98,
                109.0,
                87.92,
                113.98,
                88.57,
                100.0,
                191.39,
                81.2,
                118.09,
                164.27,
                140.0,
                118.0,
                93.0,
                144.25,
                151.0,
                91.18,
                105.92,
                267.78,
                128.28,
                209.04,
                283.45,
                199.0,
                226.15,
                167.35,
                153.0,
                157.82,
                172.42,
                258.22,
                159.8
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_0b99f41ffe7240f2bcc75eb9d9a08f69.setOption(option_0b99f41ffe7240f2bcc75eb9d9a08f69);
    </script>
</body>
</html>
