{% extends "test.html" %}
{% load static %}
{% block css %}
    <style>
        #container{
        widt: 1300px;
        height: 600px;
        border: 1px seagreen }
    </style>

{#    <link rel="stylesheet" href="{% static "plugins/bootstrap-3.4.1/css/bootstrap.css" %}">#}
    <link rel="stylesheet" href="{% static "plugins/font-awesome-4.7.0/css/font-awesome.css" %}">

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=1lsPr5RdrpEkMrGd52Tu8hhyEXvWUAGZ"></script>

{% endblock %}

{% block template %}
<body>
    <ol class="breadcrumb">
        <li><a href="#"><span style="color: rgb(50,46,46);">房源推荐</span></a></li>
        <li><a href="#"><span style="color: rgb(30,27,27);">{{ item.plce }}</span></a></li>
        <li class="active"><span style="color: rgb(21,20,20);">{{ item.area }}</span></li>
    </ol>
    <div class="container">
        <div class="row product">
            <div class="col-md-5 col-md-offset-0 " ><img class="img-responsive center-block" src={{ item.master_map }} /></div>
            <div class="col-md-7">
                <h4 style="font-weight: normal">{{ item.title }}</h4>
                <hr>
                <p style="font-weight: unset"><span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp;  {{ item.community }} - {{ item.position }}</p>
                <p style="font-weight: unset"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;  {{item.plce}} / {{ item.housetype }} / {{ item.housesize }}平方米 / {{ item.direction }} / {{ item.fitment }}</p>
                <p style="font-weight: unset"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;  {{ item.tag }}</p>
                <p> </p><h3>¥{{ item.re_price }} </h3>
                <p style="font-weight: unset">{{ item.unit_price }}/平方米</p><button class="btn btn-primary" type="button">待开发</button>
            </div>
        </div>
        <div class="page-header">
            <h3>地理位置：</h3>
        </div>

        <div>
{#<div  id = "container">#}
{#    <script type="text/javascript">#}
{#	//百度地图API功能#}
{#	var map = new BMap.Map("container");#}
{#    map.centerAndZoom(new BMap.Point(116.404, 39.915), 14);#}
{#    var driving = new BMap.DrivingRoute(map, {#}
{#        renderOptions: {#}
{#            map: map,#}
{#            autoViewport: true#}
{#    }#}
{#    });#}
{#    var start = new BMap.Point(116.310791, 40.003419);#}
{#    var end = new BMap.Point(116.486419, 39.877282);#}
{#    driving.search(start, end);#}
    <div style="width:1200px;margin:30px auto;">
        <div style="width:1200px;height:500px;" id="allmap"></div>
    </div>
    <script type="text/javascript">
        // 百度地图API功能
        var map = new BMap.Map("allmap");            // 创建Map实例
        var mPoint = new BMap.Point({{ location }});
        map.enableScrollWheelZoom();
        map.centerAndZoom(mPoint,15);
        //创建坐标图
        var pt = new BMap.Point({{ location }});
        var myIcon = new BMap.Icon("{% static "/images/location_ips.png" %}", new BMap.Size(35,41));
        var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
        marker2.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        map.addOverlay(marker2);              // 将标注添加到地图中
    </script>
</div>
        <hr>

        <div style="">
            <h3>周边配套:</h3>
        </div>

    {% if dining %}
        <div class="media" style="height: auto">
            <div class="media-body">
                <h4 class="media-heading">美食：</h4>
                {% for dins,din in dining %}
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="{{din}}">{{ dins }}</button>
                {% endfor %}
            </div>
        </div>
{% endif %}

    {% if traffic %}
    <div class="media" style="height: auto">
            <div class="media-body">
                <h4 class="media-heading">交通：</h4>
                {% for tr,trs in traffic %}
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="{{ tr }}">
                    {{ trs }}</button>
                {% endfor %}
            </div>
        </div>
{% endif %}


    {% if tra2 %}
        <div class="media" style="height: auto">
            <div class="media-body">
                <h4 class="media-heading">充电站：</h4>
                {% for tr,trs in tra2 %}
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="{{ trs }}">
                    {{ tr }}</button>
                {% endfor %}
            </div>
        </div>

    {% endif %}

{% if store %}
            <div class="media" style="height: auto">
            <div class="media-body">
                <h4 class="media-heading">购物：</h4>
                {% for tr,trs in store %}
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="{{ trs }}">
                    {{ tr }}</button>
                {% endfor %}
            </div>
        </div>
{% endif %}

        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">Fantastic product</h4>
                <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non vestibulum libero posuere. Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus. </p>
                <p><span class="reviewer-name"><strong>Jane Doe</strong></span><span class="review-date">7 Oct 2015</span></p>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h5>Fashion Store © 2016</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>


{% endblock %}

{% block js %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{#<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>#}
{% endblock %}